@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: rgba(184, 180, 255, 0.483);
  padding-top: 70px;
}

nav {
  border: 2.5px solid black;
  background: #F2F2F2;         
}


nav h1 {
  color: black;
  font-weight: bolder;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: #5f5496;
  padding: 20px 0px;
  position: fixed;
}

.wrapper .sidebar ul li {
  padding: 25px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  border-top: 2px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  display: block;
  font-size: 18.5px;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #594f8d;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.content {
  padding: 30px 20px 30px 240px;
}
