table {
    border-collapse: collapse;
  }
  
td, th {
    border: 1px solid;
    width: 150px;
    height: 30px;
    font-size: 17px;
    text-align: center;
  }

input[type="submit"] {
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 147px;
  }

input[type="submit"]:hover {
    background-color: #0057b3a8; /* Darker blue on hover */
}

input[type="number"] {
    font-size: 17px;
    text-align: center;
    padding-left: 15px;
}
