.header-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.heading {
    margin: 0;
}

.dropdown-menu {
    font-size: 18px;
    padding: 5px 10px;
    width: 150px;
}


.next-button {
    position: fixed;
    right: 30px;
    bottom: 20px;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #3d2a91a3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
}

.next-button:hover {
    background-color: #0056b3;
}

.content-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}


.chart-container {
    flex: 1; 
    max-width: 600px; 
}


.table-container {
    flex: 1; 
    max-width: 600px; 
}


.bar-chart {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column; 
        align-items: center;
    }
    
    .chart-container, .table-container {
        max-width: 100%; 
    }
}

/* Table styling */
#data {
    width: 100%;
    font-size: 16px;
}

#data th, #data td {
    padding: 12px;
}