{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Account Overview</h2>

<svg width="355" height="250">
    <rect x="50" y="30" rx="20" ry="20" width="300" height="180"
    style="fill:#dbdbff;stroke:black;stroke-width:5;opacity:0.5" />
    <text x="200" y="75" font-family="Arial" font-size="22" fill="black" text-anchor="middle" dy=".3em">
        Total income on {{ date.strftime("%B") }} :
    </text>
    <text x="200" y="130" font-family="Arial" font-size="40" fill="black" text-anchor="middle" dy=".3em" font-weight= "bold">
        £ {{ income }}
    </text>
</svg>

<svg width="355" height="250">
    <rect x="50" y="30" rx="20" ry="20" width="300" height="180"
    style="fill:#dbdbff;stroke:black;stroke-width:5;opacity:0.5" />
    <text x="200" y="75" font-family="Arial" font-size="22" fill="black" text-anchor="middle" dy=".3em">
        Total Expense on {{ date.strftime("%B") }} :
    </text>
    <text x="200" y="130" font-family="Arial" font-size="40" fill="black" text-anchor="middle" dy=".3em" font-weight= "bold">
        £ {{ expense }}
    </text>
</svg>

<svg width="355" height="250">
    <rect x="50" y="30" rx="20" ry="20" width="300" height="180"
    style="fill:#dbdbff;stroke:black;stroke-width:5;opacity:0.5" />
    <text x="200" y="75" font-family="Arial" font-size="22" fill="black" text-anchor="middle" dy=".3em">
        Budget Avaliable on {{ date.strftime("%B") }} :
    </text>
    <text x="200" y="130" font-family="Arial" font-size="40" fill="black" text-anchor="middle" dy=".3em" font-weight= "bold">
        £ {{ budget }}
    </text>
</svg>

<a href="{{ url_for('trend_1', username=username) }}">
    <img src="{{ url_for('static', filename='pie_chart.png') }}" width="400" height="300" style="margin-right: 20px;" alt="Pie Chart">
</a>

<img src="{{ url_for('static', filename='Map.png') }}" width="650" height="300" alt="Pie Chart">

{% endblock %}
