{% extends "base.html" %}
{% block title %}Trends{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Trend.css') }}">
{% endblock %}

{% block content %}
<div class="header-container" style="display: flex; align-items: center; gap: 20px;">
    <h2 style="margin: 0;">Planned Vs Actual Expenses on {{ date }}</h2>

    <select name="Time" id="Time" style="font-size: 18px; padding: 5px 10px; width: 250px;">
        <option value="month-1" selected>{{ date }}</option>
    </select>
</div>

<div class="graph-table-container" style="display: flex; gap: 20px; margin-top: 20px; align-items: flex-start;">
    <img src="{{ url_for('static', filename='Trend_2.png') }}" width="600" height="500" style="margin-top: 20px; margin-right: 0px" alt="Bar Chart">

    <div class="table-container" style="margin-top: 20px">
        <div class="table-responsive">
            <table id="data" class="table table-striped">
                <thead>
                <tr>
                    <th>Category</th>
                    <th>Planned Budget(£)</th>
                    <th>Actual Expenses(£)</th>
                    <th>Net</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in range(9) %}
                        <tr>
                            <td>{{ categories[i] }}</td>
                            <td>£{{ budget[i] | round(2) }}</td>
                            <td>£{{ chart_data[i] | round(2) }}</td>
                            <td>
                                {% set net = budget[i] - chart_data[i] %}
                                {% if net < 0 %}
                                    <span style="color: red;">£{{ net | round(2) }}</span>
                                {% else %}
                                    <span>£{{ net | round(2) }}</span>
                                {% endif %}
                            </td>
                    {% endfor %}
                        <tr>
                            <td>{{ categories[9] }}</td>
                            <td>£{{ budget[9] | round(2) }}</td>
                            <td>£{{ chart_data[9] | round(2) }}</td>
                            <td>
                                {% set net = chart_data[9] - budget[9] %}
                                {% if net < 0 %}
                                    <span style="color: red;">£{{ net | round(2) }}</span>
                                {% else %}
                                    <span>£{{ net | round(2) }}</span>
                                {% endif %}
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="{{ url_for('trend_1', username=username) }}" class="next-button">Back</a>
{% endblock %}