{% extends "base.html" %}
{% block title %}Trends{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Trend.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery -->
{% endblock%}

{% block content %}
<div class="header-container" style="display: flex; align-items: center; gap: 20px;">
    <h2 style="margin: 0;">Spending Category</h2>

    <!-- Form for Time Period and Category Dropdown -->
    <form id="filters-form" method="POST">
        <select name="time_period" id="time_period" style="font-size: 18px; padding: 5px 10px; width: 150px;">
            <option value="Weekly">Weekly</option>
            <option value="Monthly" selected>Monthly</option> <!-- Default selected -->
            <option value="Yearly">Yearly</option>
        </select>

        <select name="category" id="category" style="font-size: 18px; padding: 5px 10px; width: 150px;">
            <option value="All Category" selected>All Category</option>
            {% for category in categories %}
                <option value="{{ category }}">{{ category.capitalize() }}</option>
            {% endfor %}
        </select>
        <button type="submit">Change</button>
    </form>

</div>

<img id="trend-chart" src="{{ url_for('static', filename='Trend_1.png') }}" width="750" height="500" style="margin-top: 20px;" alt="Bar Chart">
<img id="pie-chart" src="{{ url_for('static', filename='pie_chart.png') }}" width="400" height="300" style="margin-left: 5px;" alt="Pie Chart">

<a href="{{ url_for('trend_2', username=username) }}" class="next-button">Next</a>


{% endblock %}
