{% extends "base.html" %}
{% block title %}Files Upload{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
{% endblock %}

{% block content %}
<div class="header-container" style="display: flex; align-items: center; gap: 20px; margin-top: 30px">
    <h2 style="margin: 0;">Files Category :</h2>

    <form id="upload-form" method="POST">
        <select name="category" id="category" style="font-size: 18px; padding: 5px 10px; width: 250px;">
            <option value="bank" selected>Bank Statement</option>
            <option value="receipt">Receipt</option>
        </select>

        <button type="submit">Confirm</button>
    </form>    

</div>

<div class="graph-table-container" style="display: flex; gap: 20px; margin-top: 20px; align-items: flex-start;">
    <form action="{{ url_for('upload_files') }}" class="dropzone" style="width: 500px; height:300px; margin:40px">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
    <iframe width="550" height="450" frameborder="0" scrolling="no" src="https://1drv.ms/x/c/89d242188866f03b/IQQDQlxK5mgPSKHxX5r_pVwBAclj5374t_TNj45Xx72lppw?AllowTyping=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True"></iframe>
</div>
{% endblock %}